<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Method</th>
      <th scope="col">Endpoint</th>
      <th scope="col">Source</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">GET</th>
      <td>weatherstem/stations</td>
      <td>WeatherSTEM</td>
      <td>Current conditions from WeatherSTEM stations</td>
    </tr>
    <tr>
      <th scope="row">GET</th>
      <td>weatherstem/stations/:id</td>
      <td>WeatherSTEM</td>
      <td>Current conditions from WeatherSTEM station</td>
    </tr>
    <tr>
      <th scope="row">GET</th>
      <td>alerts/:state</td>
      <td>NOAA/NWS</td>
      <td>Active Weather Alerts (two letter state ID required)</td>
    </tr>
    <tr>
      <th scope="row">GET</th>
      <td>forecasts/:lat,:lon</td>
      <td>NOAA/NWS</td>
      <td>NWS Point Forecasts</td>
    </tr>
    <tr>
      <th scope="row">GET</th>
      <td>forecasts/grid/:lat,:lon</td>
      <td>NOAA/NWS</td>
      <td>NDFD Detailed Gridpoint Forecasts</td>
    </tr>
    <tr>
      <th scope="row">GET</th>
      <td>forecasts/convoutlook/lat=:lat&amp;lon=:lon&amp;distance=:distance</td>
      <td>NOAA/NWS</td>
      <td>NDFD Convective Outlook</td>
    </tr>
  </tbody>
</table>