<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <p><span>{{> geolocate}}</span></p>
    <p></p>
  </div>
</div>

<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="border-right: thick solid black">
    <h3 id="quick-cast"></h3>
    <div class="row">
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <span id="temperature"></span> <br />
        <span id="wdir"></span><span id="wspd"></span>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <img id="sky" class="img-fluid" alt="Weather Icon">
      </div>
    </div>
  </div>
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8" height="300px" max-height="300px">
    <h3>The Forecast Details</h3>
      <div id="detailedFcst">Retrieving Forecast Details...</div></p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <h3>Current Weather</h3>
    <p id="stationName"></p>
    <b>Phrase: </b><span id="phrase"></span> <br />
    <b>Temperature: </b><span id="tempNow"></span> <br />
    <b>Feels like: </b><span id="feelsLike"></span> <br />
    <b>Dew point: </b><span id="dewpoint"></span> <br />
    <b>Wind: </b><span id="windNow"></span> <br />
    <b>Icon: </b><span id="icon">Coming soon</span> <br />
    <p></p>
    <p>Last updated: <span id="lastUpdated"></span></p>

  </div>
</div>

<script src="/javascripts/helpers.js"></script>
<script src="/javascripts/geolocator.js"></script>