<h1>{{title}}</h1>
<p>{{body}}</p>

<p><b>Endpoints</b></p>
<ul>
  <li><b>weatherstem/stations</b> - Data dump from WeatherSTEM stations</li>
  <li><b>weatherstem/stations/:id</b> - Return selected data from WeatherSTEM stations</li>
  <li><b>alerts/:state</b> - Active Weather Alerts by state</li>

</ul>

<p>More to come, kids...</p>