<h1>{{title}}</h1>
<p>{{body}}</p>

<p><b>Endpoints</b></p>
<ul>
  <li><b>/weatherstem/stations</b>: Data dump from weatherstem.com</li>
  <li><b>/weatherstem/stations/:id</b>: Return selected data from WeatherSTEM stations</li>
</ul>

<p>More to come, kids...</p>